<a href="https://colab.research.google.com/github/jonielbarreto/dataVisualizationR/blob/main/%20%20%20%20dataVisualization01/dataVisualization01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization - Basic Functions 01
## Exploring datasets
# --------------------------------------------------------------------------------------------------------------------------------------------
##### Create by Joniel B Barreto on August 16th, 2022
##### Copyright (c) 2022 jonielbarreto. All rights reserved.

In [1]:
## Install packages
install.packages("dplyr")         # Install package
install.packages("data.table")
install.packages("matrixStats")
library(dplyr)                    # load the package
library(data.table)
library(matrixStats)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last



Attaching package: ‘matrixStats’


The following object is masked from ‘package:dplyr’:

    count

The "drinks.txt" data shows information about alcohol consumption in 193 countries. It has 5 columns: country (chr), beer_servings (int), spirit_servings (int), wine_servings (int) and total_litres_of_pure_alcohol (dbl)

In [3]:
## Reading the dataset
df <- fread("drinks.txt", header = TRUE, sep = ",")
df

    country              beer_servings spirit_servings wine_servings
1   Afghanistan            0             0               0
2   Albania               89           132              54
3   Algeria               25             0              14
4   Andorra              245           138             312
5   Angola               217            57              45
6   Antigua & Barbuda    102           128              45
7   Argentina            193            25             221
8   Armenia               21           179              11
9   Australia            261            72             212
10  Austria              279            75             191
11  Azerbaijan            21            46               5
12  Bahamas              122           176              51
13  Bahrain               42            63               7
14  Bangladesh             0             0               0
15  Barbados             143           173              36
16  Belarus              142           373              42
17  Belgium              295            84             212
18  Belize               263           114               8
19  Benin                 34             4              13
20  Bhutan                23             0               0
21  Bolivia              167            41               8
22  Bosnia-Herzegovina    76           173               8
23  Botswana             173            35              35
24  Brazil               245           145              16
25  Brunei                31             2               1
26  Bulgaria             231           252              94
27  Burkina Faso          25             7               7
28  Burundi               88             0               0
29  Cote d'Ivoire         37             1               7
30  Cabo Verde           144            56              16
⋮   ⋮                    ⋮             ⋮               ⋮
164 Suriname             128           178               7
165 Swaziland             90             2               2
166 Sweden               152            60             186
167 Switzerland          185           100             280
168 Syria                  5            35              16
169 Tajikistan             2            15               0
170 Thailand              99           258               1
171 Macedonia            106            27              86
172 Timor-Leste            1             1               4
173 Togo                  36             2              19
174 Tonga                 36            21               5
175 Trinidad & Tobago    197           156               7
176 Tunisia               51             3              20
177 Turkey                51            22               7
178 Turkmenistan          19            71              32
179 Tuvalu                 6            41               9
180 Uganda                45             9               0
181 Ukraine              206           237              45
182 United Arab Emirates  16           135               5
183 United Kingdom       219           126             195
184 Tanzania              36             6               1
185 USA                  249           158              84
186 Uruguay              115            35             220
187 Uzbekistan            25           101               8
188 Vanuatu               21            18              11
189 Venezuela            333           100               3
190 Vietnam              111             2               1
191 Yemen                  6             0               0
192 Zambia                32            19               4
193 Zimbabwe              64            18               4
    total_litres_of_pure_alcohol
1    0.0
2    4.9
3    0.7
4   12.4
5    5.9
6    4.9
7    8.3
8    3.8
9   10.4
10   9.7
11   1.3
12   6.3
13   2.0
14   0.0
15   6.3
16  14.4
17  10.5
18   6.8
19   1.1
20   0.4
21   3.8
22   4.6
23   5.4
24   7.2
25   0.6
26  10.3
27   4.3
28   6.3
29   4.0
30   4.0
⋮   ⋮
164  5.6
165  4.7
166  7.2
167 10.2
168  1.0
169  0.3
170  6.4
171  3.9
172  0.1
173  1.3
174  1.1
175  6.4
176  1.3
177  1.4
178  2.2
179  1.0
180  8.3
181  8.9
182  2.8
183 10.4
184  5.7
185  8.7
186  6.6
187  2.4
188  0.9
189  7.7
190  2.0
191  0.1
192  2.5
193  4.7

The above R code, assumes that the file “drinks.txt” is in your current working directory.
- To know your current working directory, type the function getwd() in R console. To set the directory, type the function setwd() in R console.

``read()`` function is a faster way to read files, particularly large files. The good thing about this function is that it automatically detects column types and separators, which can also be specified manually. It can also detect the header names and assign them to corresponding columns.

There's some functions to read files, such as ``read.table`` or readlines and others, but as we want to work with this data as a data frame and the file has special characters fread it's the best choice.

### 1. What is the mean and standard deviation of beer (beer_servings), liquor (spirit_servings), wine (wine_servings) and total alcohol (total_litres_of_pure_alcohol) consumption?

In [4]:
# Calculate the mean
df_m <- colMeans(df[,-1])
df_m

               beer_servings              spirit_servings
                  106.160622                    80.994819
               wine_servings total_litres_of_pure_alcohol
                   49.450777                     4.717098

In [5]:
# Calculate standard deviations
df_std <- apply(df[,-1],2,sd)
df_m

               beer_servings              spirit_servings
                  106.160622                    80.994819
               wine_servings total_litres_of_pure_alcohol
                   49.450777                     4.717098

As the first column is formed by country names, the averages and the standard deviations are calculated disregarding the first column [,-1].

The apply function can be used to find the standard deviations for all columns. Here 2 refers to the columns, to find the standard deviations for rows then we just need to replace this 2 with 1.

In [6]:
# Average beer consumption
df_m["beer_servings"]

beer_servings
     106.1606

In [7]:
# Max liquor consumption value
max(df[,"spirit_servings"])

[1] 438

In [8]:
# Min wine consumption value
min(df[,"wine_servings"])

[1] 0

In [9]:
# Standard deviation of alcohol consumption
df_std["total_litres_of_pure_alcohol"]

total_litres_of_pure_alcohol
                    3.773298

In [10]:
# Some statistical measures
summary(df)

   country          beer_servings   spirit_servings  wine_servings
 Length:193         Min.   :  0.0   Min.   :  0.00   Min.   :  0.00
 Class :character   1st Qu.: 20.0   1st Qu.:  4.00   1st Qu.:  1.00
 Mode  :character   Median : 76.0   Median : 56.00   Median :  8.00
                    Mean   :106.2   Mean   : 80.99   Mean   : 49.45
                    3rd Qu.:188.0   3rd Qu.:128.00   3rd Qu.: 59.00
                    Max.   :376.0   Max.   :438.00   Max.   :370.00
 total_litres_of_pure_alcohol
 Min.   : 0.000
 1st Qu.: 1.300
 Median : 4.200
 Mean   : 4.717
 3rd Qu.: 7.200
 Max.   :14.400

### 2. What is the consumption of liquor in France?

In [11]:
# Data on alcohol consumption in Brazil
filter(df,country =='Brazil')

  country beer_servings spirit_servings wine_servings
1 Brazil  245           145             16
  total_litres_of_pure_alcohol
1 7.2

In [12]:
# Consumption of liquor in France
filter(df,country =='France')$spirit_servings

[1] 151

### 3. What are the 5 countries where the most wine is consumed?

In [13]:
df[order(-df$wine_servings)][1:5]$country

[1] "France"      "Portugal"    "Andorra"     "Switzerland" "Denmark"

To sort a data frame in R, you can use the ``order()`` function. By default, sorting is ASCENDING. The minus sign it's used to indicate DESCENDING order.

The [1:5] indicate that we want only the first five values and $country to show only the countries names.

### 4. In which countries beer consumption is above average?

In [14]:
# Countries whose total alcohol consumption is greater than or equal to 12 liters per person
filter(df,total_litres_of_pure_alcohol >= 12)

  country   beer_servings spirit_servings wine_servings
1 Andorra   245           138             312
2 Belarus   142           373              42
3 Lithuania 343           244              56
  total_litres_of_pure_alcohol
1 12.4
2 14.4
3 12.9

In [15]:
# df_m["beer_servings"] is the average beer consumption
filter(df,beer_servings > df_m["beer_servings"])$country

 [1] "Andorra"                      "Angola"
 [3] "Argentina"                    "Australia"
 [5] "Austria"                      "Bahamas"
 [7] "Barbados"                     "Belarus"
 [9] "Belgium"                      "Belize"
[11] "Bolivia"                      "Botswana"
[13] "Brazil"                       "Bulgaria"
[15] "Cabo Verde"                   "Cameroon"
[17] "Canada"                       "Chile"
[19] "Colombia"                     "Costa Rica"
[21] "Croatia"                      "Cyprus"
[23] "Czech Republic"               "Denmark"
[25] "Dominican Republic"           "Ecuador"
[27] "Estonia"                      "Finland"
[29] "France"                       "Gabon"
[31] "Germany"                      "Greece"
[33] "Grenada"                      "Hungary"
[35] "Iceland"                      "Ireland"
[37] "Kazakhstan"                   "Latvia"
[39] "Lithuania"                    "Luxembourg"
[41] "Malta"                        "Mexico"
[43] "Namibia"                      "Netherlands"
[45] "New Zealand"                  "Niue"
[47] "Norway"                       "Palau"
[49] "Panama"                       "Paraguay"
[51] "Peru"                         "Poland"
[53] "Portugal"                     "South Korea"
[55] "Moldova"                      "Romania"
[57] "Russian Federation"           "St. Kitts & Nevis"
[59] "St. Lucia"                    "St. Vincent & the Grenadines"
[61] "Serbia"                       "Seychelles"
[63] "Slovakia"                     "Slovenia"
[65] "South Africa"                 "Spain"
[67] "Suriname"                     "Sweden"
[69] "Switzerland"                  "Trinidad & Tobago"
[71] "Ukraine"                      "United Kingdom"
[73] "USA"                          "Uruguay"
[75] "Venezuela"                    "Vietnam"

### 5. Which countries in which total alcohol consumption is higher than Brazil, in order of lowest to highest?

In [16]:
# Total alcohol consumption in Brazil
alcool_brasil <-filter(df,country == 'Brazil')$total_litres_of_pure_alcohol
alcool_brasil

[1] 7.2

In [17]:
# Countries with higher consumption than Brazil
df_alcool <- filter(df,total_litres_of_pure_alcohol > alcool_brasil)
# Sort from lowest to highest
df_alcool[order(df_alcool$total_litres_of_pure_alcohol)]
df_alcool

   country            beer_servings spirit_servings wine_servings
1  Paraguay           213           117              74
2  Chile              130           124             172
3  St. Kitts & Nevis  194           205              32
4  Venezuela          333           100               3
5  Canada             240           122             100
6  Cyprus             192           154             113
7  South Africa       225            76              81
8  Argentina          193            25             221
9  Greece             133           112             218
10 Uganda              45             9               0
11 USA                249           158              84
12 Gabon              347            98              59
13 Ukraine            206           237              45
14 Nigeria             42             5               2
15 New Zealand        203            79             175
16 Netherlands        251            88             190
17 Estonia            224           194              59
18 Serbia             283           131             127
19 Austria            279            75             191
20 South Korea        140            16               9
21 Finland            263           133              97
22 Spain              284           157             112
23 St. Lucia          171           315              71
24 Croatia            230            87             254
25 Switzerland        185           100             280
26 Bulgaria           231           252              94
27 Australia          261            72             212
28 Denmark            224            81             278
29 Romania            297           122             167
30 United Kingdom     219           126             195
31 Belgium            295            84             212
32 Latvia             281           216              62
33 Slovenia           270            51             276
34 Poland             343           215              56
35 Portugal           194            67             339
36 Germany            346           117             175
37 Hungary            234           215             185
38 Ireland            313           118             165
39 Luxembourg         236           133             271
40 Slovakia           196           293             116
41 Russian Federation 247           326              73
42 Czech Republic     361           170             134
43 France             127           151             370
44 Grenada            199           438              28
45 Andorra            245           138             312
46 Lithuania          343           244              56
47 Belarus            142           373              42
   total_litres_of_pure_alcohol
1   7.3
2   7.6
3   7.7
4   7.7
5   8.2
6   8.2
7   8.2
8   8.3
9   8.3
10  8.3
11  8.7
12  8.9
13  8.9
14  9.1
15  9.3
16  9.4
17  9.5
18  9.6
19  9.7
20  9.8
21 10.0
22 10.0
23 10.1
24 10.2
25 10.2
26 10.3
27 10.4
28 10.4
29 10.4
30 10.4
31 10.5
32 10.5
33 10.6
34 10.9
35 11.0
36 11.3
37 11.3
38 11.4
39 11.4
40 11.4
41 11.5
42 11.8
43 11.8
44 11.9
45 12.4
46 12.9
47 14.4

   country            beer_servings spirit_servings wine_servings
1  Andorra            245           138             312
2  Argentina          193            25             221
3  Australia          261            72             212
4  Austria            279            75             191
5  Belarus            142           373              42
6  Belgium            295            84             212
7  Bulgaria           231           252              94
8  Canada             240           122             100
9  Chile              130           124             172
10 Croatia            230            87             254
11 Cyprus             192           154             113
12 Czech Republic     361           170             134
13 Denmark            224            81             278
14 Estonia            224           194              59
15 Finland            263           133              97
16 France             127           151             370
17 Gabon              347            98              59
18 Germany            346           117             175
19 Greece             133           112             218
20 Grenada            199           438              28
21 Hungary            234           215             185
22 Ireland            313           118             165
23 Latvia             281           216              62
24 Lithuania          343           244              56
25 Luxembourg         236           133             271
26 Netherlands        251            88             190
27 New Zealand        203            79             175
28 Nigeria             42             5               2
29 Paraguay           213           117              74
30 Poland             343           215              56
31 Portugal           194            67             339
32 South Korea        140            16               9
33 Romania            297           122             167
34 Russian Federation 247           326              73
35 St. Kitts & Nevis  194           205              32
36 St. Lucia          171           315              71
37 Serbia             283           131             127
38 Slovakia           196           293             116
39 Slovenia           270            51             276
40 South Africa       225            76              81
41 Spain              284           157             112
42 Switzerland        185           100             280
43 Uganda              45             9               0
44 Ukraine            206           237              45
45 United Kingdom     219           126             195
46 USA                249           158              84
47 Venezuela          333           100               3
   total_litres_of_pure_alcohol
1  12.4
2   8.3
3  10.4
4   9.7
5  14.4
6  10.5
7  10.3
8   8.2
9   7.6
10 10.2
11  8.2
12 11.8
13 10.4
14  9.5
15 10.0
16 11.8
17  8.9
18 11.3
19  8.3
20 11.9
21 11.3
22 11.4
23 10.5
24 12.9
25 11.4
26  9.4
27  9.3
28  9.1
29  7.3
30 10.9
31 11.0
32  9.8
33 10.4
34 11.5
35  7.7
36 10.1
37  9.6
38 11.4
39 10.6
40  8.2
41 10.0
42 10.2
43  8.3
44  8.9
45 10.4
46  8.7
47  7.7